/* Стилизация всего тела страницы */
body{
    font-family: "Main-text";
    background-image: url("img/body-background-img.jpg");
    background-repeat: repeat;
}
@font-face {
    font-family: "Main-text";
    src: url(fonts/Jost-VariableFont_wght.ttf);
}
/* Конец стилизации всего тела страницы */


/* Блок стилизации ссылок */
.links-decoration:link{ /* = Это линия для всех ссылок */
    text-decoration: none;
}
.liks-style-header:hover{ /* = Это стиль подчеркивания ссылок в самом верху */
    color: #4a4a4a;
    text-decoration: underline;
}
.liks-style-header{ /* = Это основной стиль ссылок в самом верху */
    color: #4a4a4a;
    font-weight: lighter;
    font-size: medium;
}
.word-spacing{
    margin: 10px;
}

/* Изменение стиля ссылок в меню */
    .links-menu-style{ /* = Это основной стиль для ссылок меню */
        color: #4a4a4a;
        font-weight: bolder;
        font-size: 11pt;
    }
    .links-menu-style:link{
        transition: .3s ease; /**Плавность появления подчеркивания**/
        text-decoration: dotted;
    }
    .links-menu-style:hover{
        color: #4a4a4a;
        border-bottom: #4a4a4a 4px solid; /**Стиль нижнего подчеркивания**/
        padding-bottom: 6px;
    }
    .word-menu-spacing{
        margin-right: 10px;
        margin-left: 10px;
    }

    #hover-sale-style{ /* = Это стиль для надписи "Распродажа" */
        font-weight: bolder;
        font-size: 11pt;
    }
    #hover-sale-style:link{ 
        transition: .3s ease;
        text-decoration: dotted; 
    }
    #hover-sale-style:hover{
        border-bottom: red 4px solid;
        padding-bottom: 6px;
    }
/* Конец стилизации ссылок в меню */

/* Конец блока стилизации ссылок */


/* Стилизация выбора региона*/
#select-decoration{
    font-weight: lighter;
    border-style: none;
    cursor: pointer;
    width: 80px;
    outline: none;
    color:#4a4a4a;
}
/* Конец стилизации выбора региона */


/* Оформление линии "Зимняя распродажа" */
#line-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #740C0B;
    height: 35px;
}
#line-advert-style{
    color:white;
}
#winter-sales{
    font-weight: bold;
    font-size: 11pt;
}
/* Конец оформления линии */


#search{
border: 0;
padding: 0px 20px 0px 22px;
font-family: "Main-text";
width: auto;
border-radius: 4px;
}


/* Блок стилизации карточек */
.card-link-style{
    height: 115pt;
    text-align: center;
}
.card-border{
    border: none;
}
.card-border:hover{
    border: none;
    transition: .2s;
    box-shadow: 0 0 15px 2px rgba(149, 145, 145, 0.27);
}

/* Стиль оформления текста в карточках */
.link-card-text-style:link{
    font-weight: bolder;
    font-size: 16pt;
    color: #333232;
}
.link-card-ubdertext-style{
    color: #7f878d;
    font-weight: normal;
    font-size: medium;
}  
/* Конец стиля оформления текста в карточках */

/* Конец блока стилизации карточек */


/* Блок стилизации фото-галереи */
#photo-gallery-main-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
        "top-left center center top-right"
        "bottom-left center center bottom-right";
    padding: 0 20px;
    margin: 0 auto;
}
.gallery:first-child{
    grid-area: top-left;
    position: relative; 
}
.gallery:nth-child(2){
    grid-area: bottom-left;
    position: relative;
}
.gallery:nth-last-child(3){
    grid-area: center;
    position: relative;
}
.gallery:nth-child(4){
    grid-area: top-right;
    position: relative;
}
.gallery:last-child{
    grid-area: bottom-right;
    position: relative;
}
.photo-gallery-size{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.photo-gallery-inscription-div{
    background-color: #740C0B;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
/* Конец блока стилизации фото-галереи */

/* Стилизация ссылки "Твой онлайн-стилист" */
.your-online-stylist{
    color:#4a4a4a;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}
.your-online-stylist::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    background: #e65044;
    left: 50%;
    bottom: 6px;

}
.your-online-stylist:hover{
    color:#4a4a4a;
}
/* Конец стилизации ссылки "Твой онлайн-стилист" */


/* Блок стилизации nav-tabs */
.nav-links-style{
    color: #333232;
    font-weight: medium;
}
.nav-links-style:hover{
    color: #e65044;
}
.nav-link.active{
    color: var(--bs-nav-tabs-link-active-color);
}
.nav-tabs-active-style{
    --bs-nav-tabs-link-active-color: #e65044;
}
.nav-tabs-line-style{
    --bs-nav-tabs-border-width: 0px;
    border-bottom: var(--bs-nav-tabs-border-width) none;
}
/* Конец блока стилизации nav-tabs */


.footer-text-h6-style{
color: white;
}
.footer-text-size{
font-size: smaller;
color:#a5b1ba!important;
}